# Build output
/target/
/build/
/out/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE - IntelliJ IDEA (not tracked)
.idea/
*.iml
*.iws
*.ipr

# IDE - Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.metadata/

# IDE - VS Code
.vscode/

# IDE - NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store
.kotlin

# IntelliJ workspace files
/shelf/
/workspace.xml
/queries/
/dataSources/
/dataSources.local.xml
/httpRequests/
